
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;600&family=Space+Mono&display=swap');

:root {
	--border-color: #DADADA;
	--background-color: #1f1f1f;
	--text-color: #ffffff;
	--active-button-bg: #ffffff;
	--active-button-text: #1f1f1f;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

a {
	/* text-decoration: none; */
	color: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Space Mono', 'IBM Plex Sans Thai', sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
}

.container {
	max-width: 800px;
	margin: 0 auto;
	border-left: dashed 2px var(--border-color);
	border-right: dashed 2px var(--border-color);
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	main {
		flex-grow: 1;
		padding: 0 1rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		img {
			max-width: 60%;
			height: auto;
			display: block;
			margin: 0.2rem auto;
		}
	}
}

pre {
	margin: 0;
	code {
		padding: 1rem;
		display: block;
		width: full;

	}
}
code {
	background-color: #2e2e2e;
	padding: 0rem 0.4rem;
	border-radius: 4px;
	font-family: 'Space Mono', monospace;
}

ul {
	padding-left: 2rem;
	margin: 0;
}

li {
	margin-bottom: 0.5rem;
}

.nav-container {
	display: flex;
	justify-content: center;
	gap: 1rem;
	border-top: dashed 2px var(--border-color);
	border-bottom: dashed 2px var(--border-color);
}

.nav-link {
	box-sizing:content-box;
	color: var(--text-color);
	text-decoration: none;
	font-weight: 600;
	padding: 0.6rem 1.5rem;
	border-left: dashed 2px var(--border-color);
	border-right: dashed 2px var(--border-color);
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	&:hover, &:focus {
		background-color: var(--active-button-bg);
		color: var(--active-button-text);
	}
	&:first-child {
		border-left: none;
	}
	&:last-child {
		border-right: none;
	}
}

.mr-auto {
	margin-right: auto;
}

footer {
	text-align: center;
	padding: 1rem 0;
	border-top: dashed 2px var(--border-color);
	margin-top: auto;
}